@font-face {
    src: url("/assets/fonts/Arimo-Regular.ttf");
    /* url("") format("woff"); */
    font-family: 'Arimo'; 
    font-style: normal;
}
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 5% 10% 1fr 10%;
    grid-template-areas: 
    "header header header header header header header header header"
    "nav nav nav nav nav nav nav nav nav"
    "main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer";
    background: #002D2D;
    color:white;
}
.header{
    grid-area: header;
    background: #A5E3B9;
    color:black;
    text-align: center;
    padding: 15px;
}
.navigation {
    grid-area:nav;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 30px;
}
.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60% 10% 10% 5%;
    grid-template-areas: 
    "slogan img"
    "text img"
    "info img"
    "info img";
    padding: 82px;
}
.footer {
    grid-area: footer;
    text-align:left;
    padding: 70px;
    font-size: 12px;
}
img {
    grid-area: img;
    max-width: 100%;
    height: auto;
    padding: 10px;
}
#mainimage {
    width: 100%;
    height: auto;
    grid-area: mainimage;
}
select {
    background: #002D2D;
    color: white;
    border: none; 
}
.slogan {
    font-size:58px;
    grid-area: slogan;
}
#trial {    
    background-color: #008060;
    border: 2px solid #008060;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    width: 146px;
    height: 54px;
    color: white;
}
.text {
    grid-area: text;
    font-size: 18px;
}
.img {
    grid-area: img;
}
#email {
    width: 100%;
    height: 48px;
    border-radius: 4px;
}
.text1 {
    position: relative;
}
.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 24px;
}
.info__label {
    position: absolute;
    color: black;
    top: 7px;
    left: 13px;
}
@media (max-width: 1200px){
    .container {
        max-width: 970px;
    }
}
@media (max-width: 992px){
    .container {
        max-width: 750px;
    }
    .slogan {
        font-size:3em;
    }
}
@media (max-width: 767px){
    .container {
        max-width: none;
    }
    .info {
        grid-template-rows: 1fr 1fr;
    }
    .slogan {
        font-size:2em;
    }
    .main{
        gap: 2em;
    }
    #trial {    
        max-width: 56px;
        height: 34px;
        font-size: 1vw;
    }
    .navigation {
        font-size: 2vw;
    }
    .header{
        font-size: 2vw;
    }
    .text {
        font-size: 1em;
    }
    .footer {
        font-size: 1vw;
        padding: 40px;
    }
    #email {
        width: 100%;
        height: 34px;
    }
    .info__label {
        font-size: 1vw;
    }
}
